<link rel="stylesheet" href="~/css/home.css" />
<style>
    label {
        font-family: Calibri;
        font-weight: bold;
        font-size: 20px
    }

    /*--thank you pop starts here--*/
    .thank-you-pop {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

        .thank-you-pop img {
            width: 76px;
            height: auto;
            margin: 0 auto;
            display: block;
            margin-bottom: 25px;
        }

        .thank-you-pop h1 {
            font-size: 42px;
            margin-bottom: 25px;
            color: #5C5C5C;
        }

        .thank-you-pop p {
            font-size: 20px;
            margin-bottom: 27px;
            color: #5C5C5C;
        }

        .thank-you-pop h3.cupon-pop {
            font-size: 25px;
            margin-bottom: 40px;
            color: #222;
            display: inline-block;
            text-align: center;
            padding: 10px 20px;
            border: 2px dashed #222;
            clear: both;
            font-weight: normal;
        }

            .thank-you-pop h3.cupon-pop span {
                color: #03A9F4;
            }

        .thank-you-pop a {
            display: inline-block;
            margin: 0 auto;
            padding: 9px 20px;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            background-color: #8BC34A;
            border-radius: 17px;
        }

            .thank-you-pop a i {
                margin-right: 5px;
                color: #fff;
            }

    #ignismyModal .modal-header {
        border: 0px;
    }

    .scrollableModal .modal-body {
        max-height: 300px;
        overflow-y: auto;
    }

    #testDetayModal .modal-dialog {
        max-width: 800px;
    }

    #testDetayModal .modal-body {
        max-height: 400px;
        overflow-y: auto;
    }
</style>


<div class="menu-container">
    <button type="button" id="talepGetir" class="menu-item" data-toggle="modal" data-target="#talepModal"><i class="fa fa-clock-o" aria-hidden="true"></i> TEST BEKLEYEN TALEPLER</button>
    <button type="button" id="talep" class="menu-item" data-toggle="modal" data-target="#testGoruntuleModal"><i class="fa fa-flask" aria-hidden="true"></i> YAPTIĞIM TESTLER</button>
</div>

<div class="modal fade scrollableModal" id="talepModal" tabindex="-1" role="dialog" aria-labelledby="talepModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="talepModalLabel">Aktif Talepler</h5>
                <button type="button" id="talepModalClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Talep Tarihi</th>
                            <th scope="col">Hasta</th>
                            <th scope="col">Talep Nedeni</th>
                            <th colspan="2" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="talepler">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="testModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="talepModalLabel">Deneme</h5>
            </div>
            <div class="modal-body">
                <input style="align:center" type="range" id="rangeInput" name="rangeInput" min="1" max="100">
                <br />
                <span>CRP:</span> <span>123</span> <span>mg/L</span>
                <br />
                <button>Devam</button>
            </div>
        </div>
    </div>
</div>

<input type="range" id="rangeInput" name="rangeInput" min="1" max="100">


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script>
    var currentStep = 1;

    $("#testButton").click(function () {
        // Show the first step
        showStep(currentStep);
        // Show modal
        $("#testModal").css("display", "block");
    });

    $(".close").click(function () {
        // Hide modal
        $("#testModal").css("display", "none");
        // Reset to the first step
        currentStep = 1;
    });

    $(".nextStep").click(function () {
        // Validate and proceed to the next step
        if (validateStep(currentStep)) {
            currentStep++;
            showStep(currentStep);
        }
    });

    $("#submitBtn").click(function () {
        // Collect values for all blood tests
        var data = {};
        $(".step input").each(function () {
            var testName = $(this).attr("name");
            var testValue = $(this).val();
            data[testName] = testValue;
        });

        // Send data to controller using AJAX
        $.ajax({
            type: "POST",
            url: "your_controller_url",
            data: data,
            success: function (response) {
                // Handle success
                console.log(response);
                // Close the modal
                $("#testModal").css("display", "none");
                // Reset to the first step
                currentStep = 1;
            },
            error: function (error) {
                // Handle error
                console.log(error);
            }
        });
    });

    function showStep(step) {
        $(".step").hide();
        $("#step" + step).show();
    }

    function validateStep(step) {
        // Add your validation logic here
        // For simplicity, assuming all inputs are required
        var isValid = true;
        $("#step" + step + " input").each(function () {
            if ($(this).val() === "") {
                isValid = false;
                alert("Please fill in all fields.");
                return false; // Exit loop on first empty field
            }
        });
        return isValid;
    }

    $("#talepGetir").click(function (e) {
        $.ajax({
            type: "POST",
            url: "/Laborant/TalepGetir",
            success: function (data) {
                updateModal(JSON.parse(data));
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    });

    function updateModal(data) {

        var modalBody = $("#talepModal").find("#talepler");
        console.log(modalBody);
        modalBody.empty();
        console.log(data);
        data.forEach(function (item, index) {
            modalBody.append("<tr><td>" + item.TalepTarihi + "</td><td>" + item.Hasta.Isim + " " + item.Hasta.Soyisim + "</td><td>" + item.TalepNedeni + "</td> <td><button type='submit' id='testYap' class='btn btn-success' value='" + item.Id + "'>Teste Gönder</button></td></tr>");
        });
    }

    $(document).on("click", "#testYap", function (e) {
        console.log($(this).val());
        $("#testModal").modal('toggle');
    });
</script>
